really <%=eye%> , what kind food u prefer?
<form method = "post" action = "/food">
<input type = "hidden" name="user_name" value=<%=name%>>
<input type = "hidden" name="age" value=<%=age%>>
<input type = "hidden" name="hair" value=<%=hair%>>
<input type = "hidden" name="eye" value=<%=eye%>>
	<input type="text" name="food"> 
<input type="submit">
</form>